                .paragrafo-padrao {
                    color: rgb(58, 34, 26);
                    font-size: 20px;
                    text-align: justify;
                }

                .titulo-texto{
                    font-size: 48px;
                    color: rgb(33, 112, 33);
                }

                #msg-boas-vindas{
                    color: red;
                    font-size: 20px;
                    font-weight: bold;
                }

                #corpo-pagina{
                    background-color: rgb(173, 157, 173);
                }
           
